/.cask
/.hive-maint
/custom.el
/elpa
/var
/init.el*
/identity.el*
/bookmarks
/places
/history
/recentf
/saveplace
/projectile.cache
/projectile-bookmarks.eld
/early-init.el
/eshell/history
/dovecot.conf
/filter.sieve
/notmuch-tag.py
